*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-color: black;
  font-size: large;
  color: white;
}
header{
  background-color: darkred;
}
nav{
  background-color: orange;
}
section{
  background-color: maroon;
}
article{
  background-color: darkslategray;
}
footer{
  background-color: darkred;
}